.blog-title {
    margin-top: 3%;
    padding-bottom: 3%;
    line-height: 1;
    padding-left: 15%;
    padding-right: 15%;
}
.blog-title h2 {
    margin: 0 0;
}
.blog-section {
    display: grid;
    padding-left: 15%;
    padding-right: 15%;
}
.blog-article {
    width: 100%;
    display: flex;
    margin-bottom: 5%;
}
.left-blog-div {
    flex: 40%;
}
.left-blog-div img{
    width: 100%;
}
.right-blog-div {
    flex: 60%;
    padding-left: 3%;
}
.right-blog-div h3 {
    width: 100%;
    margin-top: 0%;
}